<% provide(:title, "About") %>

<h1>About SMCrate</h1>
<p>SMCrate is a social media hub web application built by students in the CMPT276
 class at SFU. Its final implementation was meant to integrate almost all current
 popular social media platforms, but currently it services Facebook and Twitter users.</p>
