<% provide(:title, "Contact") %>

<h1>Contact Us <span class="glyphicon glyphicon-envelope"></span> </h1>
<p>Thanks for using our application. If there are any concerns or inquires that you would like to contact us, please use the following contact methods.</p>
