<% provide(:title, "Contact") %>

<h1>Contact Us <span class="glyphicon glyphicon-envelope"></span> </h1>
<p>Thanks for using our application. If there are any concerns or inquires that you would like to contact us, please use the following contact methods.</p>
<p>cgli@sfu.ca, djtung@sfu.ca, mca124@sfu.ca, jwa174@sfu.ca, zza85@sfu.ca</p>
