<% provide(:title, "Posts") %>

  <% if fb_authenticated?(@user) %>
    <div class="container">
    <% @posts.each do |post| %>
        <li><h2><%= post['created_time'].to_time.strftime("%b %d, %Y (%H:%M)") %>
        <%= post['message'] %>
        <%= link_to "Link", post['source'] %></h2></li>
    <% end %>
    </div>

  <% else %>
    Couldn't retrieve posts.
  <% end %>

  <%= @posts2.to_yaml  %>
